.wrapper {
  width: (780px/960px * 100%);
  margin: 0 auto;
  padding: ($gutter * 6) 0;
  text-align: center;

  @include respond-to(mobiles) {
    width: (280px/320px * 100%);
    padding: ($gutter * 2) 0;
  }

  footer & {
    padding: ($gutter / 2);
  }
}

.talk {
  @include clearfix;
  display: block;
  margin: ($gutter * 2) 0;

  @include respond-to(portables) {
    max-width: 420px;
    margin: ($gutter * 2) auto;
  }

  .time {
    font-size: 1.2rem;
    line-height: 1.25;

    @include respond-to(mobiles) {
      font-size: 1rem;
      line-height: 1.5;
    }

    @include respond-to(portables) {
      display: inline-block;
      width: 320px;
      min-width: 180px;
      text-align: left;
    }
  }

  .title {
    color: $ruby-red;
    margin: 0;

    @include respond-to(mobiles) {
      font-size: 1.6rem;
      line-height: 1.25;
    }
  }

  .name {
    margin-top: ($gutter/4);

    @include respond-to(mobiles) {
      font-size: 1.2rem;
      line-height: 1.3333333333;
    }
  }

  .thumbnail {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: $light-gray;
    border-radius: 9999px;
    margin: 0 $gutter;
    vertical-align: middle;

    @include respond-to(portables) {
      float: left;
      margin: 0 $gutter 0 0;
    }
  }

  .description {
    display: inline-block;
    width: 380px;
    min-width: 180px;
    text-align: left;
    vertical-align: middle;

    @include respond-to(portables) {
      float: left;
      width: 300px;
    }
  }
}

.about {
  background-color: $ruby-red;
  background-image: url(assets/background.jpg);
  background-size: cover;
  color: $pure-white;
}

.sponsors {
  background: $light-gray;

  li {
    padding: $gutter;

    @include respond-to(portables) {
      display: block;
    }
  }
}

footer {
  background: $dark-gray;
  color: $pure-white;

  li {
    padding: 0 $gutter;

    @include respond-to(mobiles) {
      font-size: 1.2rem;
      line-height: 1.25;
      padding: 0 ($gutter / 2);
    }
  }
}
