.wrapper {
  width: (780px/960px * 100%);
  margin: 0 auto;
  padding: ($gutter * 6) 0;
  text-align: center;

  @include respond-to(mobiles) {
    width: (280px/320px * 100%);
    padding: ($gutter * 2) 0;
  }

  footer & {
    padding: ($gutter / 2);
  }
}

.talk {
  @include clearfix;
  display: block;
  margin: ($gutter * 2) 0;

  @include respond-to(portables) {
    max-width: 420px;
    margin: ($gutter * 2) auto;
  }

  .time {
    font-size: 1.2rem;
    line-height: 1.25;

    @include respond-to(portables) {
      display: inline-block;
      width: 320px;
      min-width: 180px;
      text-align: left;
    }

    @include respond-to(mobiles) {
      display: inline-block;
      width: calc(100% - 100px);
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .title {
    color: $ruby-red;
    margin: 0;

    @include respond-to(mobiles) {
      font-size: 1.6rem;
      line-height: 1.25;
    }
  }

  .name {
    margin-top: ($gutter/4);

    @include respond-to(mobiles) {
      font-size: 1.2rem;
      line-height: 1.3333333333;
    }
  }

  .thumbnail {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: $light-gray;
    border-radius: 9999px;
    margin: 0 $gutter;
    vertical-align: middle;

    @include respond-to(portables) {
      float: left;
      margin: 0 $gutter 0 0;
    }
  }

  .description {
    display: inline-block;
    width: 380px;
    min-width: 180px;
    text-align: left;
    vertical-align: middle;

    @include respond-to(portables) {
      float: left;
      width: 320px;
    }

    @include respond-to(mobiles) {
      display: inline-block;
      width: calc(100% - 100px);
    }
  }
}

.schedule {
  ul {
    @include respond-to(mobiles) {
      margin-top: ($gutter * 3);
    }
  }
}

.about {
  position: relative;
  background-color: $dark-gray;
  background-image: url(assets/background.jpg);
  background-size: cover;
  color: $pure-white;

  @include respond-to(wide-screens) {
    min-height: 640px;
    height: 90vh;
  }

  .wrapper {
    @include respond-to(wide-screens) {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }

  .logo {
    margin: 0 0 ($gutter * 3);

    @include respond-to(mobiles) {
      margin-bottom: ($gutter * 1.5);
    }

    &:after,
    &:before {
      display: none;
    }

    img {
      @include respond-to(mobiles) {
        width: 64px;
      }
    }
  }
}

.sponsors {
  background: $light-gray;

  li {
    padding: $gutter;

    @include respond-to(portables) {
      display: block;
    }
  }

  a {
    color: transparent;
  }
}

footer {
  background: $dark-gray;

  li {
    padding: 0 $gutter;

    @include respond-to(mobiles) {
      font-size: 1.2rem;
      line-height: 1.25;
      padding: 0 ($gutter / 2);
    }
  }
}
