.wrapper {
  width: 780px;
  margin: 0 auto;
  padding: ($gutter * 6) 0;
  text-align: center;

  footer & {
    padding: ($gutter / 2);
  }
}

.talk {
  display: block;
  margin: ($gutter * 2) 0;

  .title {
    color: $ruby-red;
    margin: 0;
  }

  .thumbnail {
    display: inline-block;
    width: 80px;
    height: 80px;
    background: $light-gray;
    border-radius: 9999px;
    margin: 0 $gutter;
    vertical-align: middle;
  }

  .description {
    width: 380px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
  }
}

.about {
  background-image: url(assets/background.png);
  background-size: cover;
  color: $pure-white;
}

.sponsors {
  background: $light-gray;
}

footer {
  background: $dark-gray;
  color: $pure-white;

  li {
    padding: 0 $gutter;
  }
}
