html {
  font-family: 'Input Sans Narrow', 'Helvetica', Arial, sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.4rem;
  line-height: 1.42857142857; /* 2rem */
}

h1, h2, h3 {
  font-weight: 400;
}

h1, h2 {
  &:after {
    display: block;
    content: '';
    width: 80px;
    height: 3px;
    background: currentColor;
    margin: 20px auto 30px;
  }
}

h1 {
  font-size: 3.2rem;
  line-height: 1.25; /* 4rem */
}

h2 {
  font-size: 2.1rem;
  line-height: 1.4285714286; /* 3rem */
}

h3 {
  font-size: 1.8rem;
  line-height: 1.3888888889; /* 2.5rem */
}