@import 'variables';
@import 'mixins';
@import 'typography';
@import 'layout';
@import 'buttons';

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 0 $gutter;

  @include respond-to(mobiles) {
    padding: 0;
  }
}

p {
  max-width: 460px;
  margin: $gutter auto;

  @include respond-to(mobiles) {
    padding: 0 $gutter;
  }
}

a {
  color: $pure-white;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    border-bottom: 1.5px solid currentColor;
  }
}