@import 'variables';
@import 'mixins';
@import 'typography';
@import 'layout';

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 0 $gutter;
}

p {
  width: 460px;
  margin: $gutter auto;
}

footer {
  background: $dark-gray;
  color: $pure-white;

  li {
    padding: 0 $gutter;
  }
}

.wrapper {
  width: 780px;
  margin: 0 auto;
  padding: ($gutter * 6) 0;
  text-align: center;

  footer & {
    padding: ($gutter / 2);
  }
}

.button {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  color: $pure-white;
  background: $dark-gray;
  padding: 14px 44px 12px;
  margin-top: $gutter;
  border-radius: 3px;

  &:hover {
    border: none;
  }
}